.htaccess
.idea
.gitkeep
.settings
.cvsignore
.classpath
.project
config.ini
db.ini
htaccess

# ignore large files
createsample.gz
mb32sample.sql

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject


# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

changes.patch
file-changes.txt
adminProcesses/nasorigmissing.log
configuration/db.ini.save
www/.well-known/
www/bmpimages.tar.gz
www/Submit/taxonUploadForm.xls.old
www/Submit/taxonUploadLog.txt
